:host {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 1rem;
    .container {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
    }
    .search-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.mat-option.selected {
    border-bottom: 1px solid #f44336;
    span {
        border-bottom: 1px solid #f44336;
    }
}