:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    a {
        text-decoration: none;
        &:visited,
        &.active {
            color: initial;
        }
    }
    .mat-list-item {
        display: flex;
        justify-content: center;
        flex: 1;
        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, .42);
        }
    }
}