<section *ngIf="isActive">
  <section class="wrapper">
    <section class="name no-border-bottom">Name</section>
    <section class="email no-border-bottom no-border-left no-border-right">Email</section>
    <section class="title no-border-bottom">Title</section>
  </section>
  <section class="user-wrapper">
    <section class="user-name">{{user.FullName}}</section>
    <section class="user-email no-border-left no-border-right">{{user.Email}}</section>
    <section class="user-title">{{user.Title}}</section>
  </section>
</section>