:host {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex: 1;
    align-content: space-around;
    justify-content: space-around;
    .wrapper {
        display: flex;
        flex-direction: row;
        flex: 1;
        .left,
        .right {
            border: 1px solid rgba(0, 0, 0, .42);
            display: flex;
            flex-direction: row;
            flex: 1;
        }
        .right {
            flex: .3;
        }
        .left {
            justify-content: center;
            align-items: center;
            display: flex;
            flex: 1;
        }
    }
    .grid-wrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}